@import url('https://fonts.googleapis.com/css2?family=El+Messiri&display=swap');
body{
    direction: rtl;
    font-family: 'El Messiri', sans-serif;
}
/* التنسيقات المطبقة على الفيديو ليصبح بحجم الصفحة */
header.header video {
    position: fixed;
    display: block;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -1;
}
/* إضافة الطبقة البيضاء التي تظهر أمام الفيديو */
header.header .overlay {
    background-color: rgba(255, 255, 255, 0.7); 
}
/* إضافة الطبقة البيضاء التي تظهر أمام الفيديو */
header.header .overlay {
    background-color: rgba(255, 255, 255, 0.7); 
}
header.header .overlay .header-text h3{
    font-size: 36px;
    font-weight: bold;
    line-height: 46px;
    margin-bottom: 40px;
    font-family: 'El Messiri', sans-serif;
}
header.header .overlay .header-text p{
    font-size: 18px;
    color: #5d5d5d;
    line-height: 32px;
    margin-bottom: 50px;
    font-family: 'El Messiri', sans-serif;
}
header.header .overlay .header-text{
    margin-top: 7rem;
}
.header.header .overlay .header-text .buttons button{
    border-radius: 0px;
    font-size: 18px;
    font-family: 'El Messiri', sans-serif;
    line-height: 32px;
    padding: 8px 25px;
    border: 1px solid #7233a2; 
}
.header.header .overlay .header-text .buttons button:first-of-type{
    background-color: #7936b2;
    color: #ffffff;
    margin-left: 16px;
}
.header.header .overlay .header-text .buttons button:last-of-type{
    background-color: transparent;
    color: #7936b2;
    border: 0px;
}
.header.header .overlay .header-text .buttons button:last-of-type:hover{
    background-color: #7233a2;
    color: #ffffff;
}
.header.header .overlay .header-text .buttons button:first-of-type:hover{
    background: #ffffff;
    color: #7233a2;
}
.header.header .overlay .header-text .buttons button{
    transition: all 0.5s ease;
}
header.header .overlay .product-img{
    position: relative;
    margin-bottom: 30px;
}
header.header .overlay .product-img img.label{
    position: absolute;
    top: -50px;
    right: -50px;
}
header.header .overlay .product-img p{
    font-size: 24px;
    color: #ffffff;
    text-align: center;
    position: absolute;
    top: -30px;
    right: 0px;
}
header.header .overlay .product-img p span{
    display: block;
}
header.header .overlay .navbar{
    margin-bottom: 26px;
}
section.features .title h3{
    font-size: 36px;
    color: #555555;
    line-height: 120px;
}
section.features{
    padding: 25px 0px;
    background-color: #ffffff;
    font-family: 'El Messiri', sans-serif;
}
section.features .title:after{
    content: "";
    position: absolute;
    bottom: 0;
    left: 50%;
    width: 150px;
    height: 2px;
    background-color: #7233a2;
    transform: translateX(-50%);
}
section.features .title{
    position: relative;
    margin-bottom: 20px;
}
section.features .feature{
    padding: 70px 0;
    border-bottom: 3px solid #eeeeee;
}
section.features .feature .media .media-body h5{
    padding: 3px 20px;
    font-size: 36px;
    font-weight: bold;
    color: #6a3093;
    border-right: 2px solid #6a3093;
}
section.features .feature .media .media-body p{
    line-height: 32px;
    font-size: 18px;
    color: #555555;
}
section.features .feature .media img{
    margin: 0 4rem;
}
section.features .feature .media .media-body{
    margin-top: 50px;
}
section.features .feature:nth-of-type(even){
    text-align: left;
}
section.features .feature:nth-of-type(even) .media .media-body h5{
    border-left: 3px solid #6a3093;
    border-right: 0px;
}
section.features .feature:nth-of-type(even) .media .media-body p{
    text-align: right;
}
section.prices{
    padding: 55px 0px;
    background-color: #f7f7f7;
    font-family: 'El Messiri', sans-serif;
}
section.prices .title h3{
    font-size: 30px;
    color: #555555;
}
section.prices .plan{
    width: 100%;
    background-color: #ffffff;
    color: #acacac;
    border: 2px solid #ededed;
    padding: 15px;
    margin-top: 100px;
}
section.prices .plan p{
    font-size: 18px;
    color: #7233a2;
    font-weight: bold;
}
section.prices .plan h3{
    font-size: 50px;
    color: #a9a9ab;
    margin: 30px auto;
}
section.prices .plan h3 span{
    font-size: 15px;
    vertical-align: bottom;
}
section.prices .plan ul li{
    font-size: 15px;
    line-height: 30px;
    margin-bottom: 20px;
}
section.prices .plan ul{
    margin: 0px;
    padding: 0px;
}
section.prices .plan button{
    border: 1px solid #7233a2;
    background-color: #ffffff;
    color: #7233a2;
    border-radius: 0px;
    padding: 0.5rem 1.75rem;
}
section.prices .plan button:hover{
    color: #fff;
    background: #7233a2;
}
section.prices .plan.popular{
    margin-top: 55px;
    padding-top: 60px;
}
section.prices .plan.popular button{
    background-color: #7233a2;
    color: #ffffff;
    border: 1px solid #7233a2;
}
section.prices .plan.popular button:hover{
    background: #ffffff;
    color: #7233a2;
}
section.faq{
    background-color: #ffffff;
    padding: 55px 0px;
    font-family: 'El Messiri', sans-serif;
}
section.faq .title h3{
    font-size: 30px;
    color: #555555;
}
section.faq .card{
    margin-bottom: 15px;
    border-radius: 0px;
    border: 1px solid #ebebeb;
}
section.faq .card .card-header{
    background-color: transparent;
    border-bottom: 0px;
}
section.faq .card .card-header h5 a{
    font-size: 18px;
    font-weight: bold;
    color: #555555;
    display: block;
    position: relative;
}
section.faq .card .card-header h5 a i {
    position: absolute;
    top: 2px;
    left: 5px; 
}
section.faq .card .card-block{
    font-size: 15px;
    color: #c9c9c9;
    line-height: 24px;
    padding: 0 1.25rem 1.25rem;
}
section.faq .title{
    margin-bottom: 50px;
}
section.faq .card .card-header h5 a:hover, 
section.faq .card .card-header h5 a:focus {
  text-decoration: none; 
}
section.faq .card .card-header h5 a.collapsed i:before {
    content: "\f107"; 
}
section.video{
    position: relative;
    min-height: 100vh;
    overflow: hidden;
    font-family: 'El Messiri', sans-serif;
}
section.video video{
    position: absolute;
    top: 0px;
    left: 0%;
    min-width: 100%;
    min-height: 100%;
}
section.video .overlay {
    background-color: rgba(106, 48, 147, 0.7);
    height: 100%;
    z-index: 1;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
}
section.video button{
    outline: none;
    position: absolute;
    top: 50%;
    right: 50%;
    background-color: transparent;
    color: #ffffff;
    font-size: 30px;
    border: 0px;
    transform: translate(50%, -50%);
}
section.video button i{
    display: block;
    width: 90px;
    height: 90px;
    margin: 0 auto;
    border: 2px solid #fff;
    border-radius: 50%;
    margin-bottom: 50px;
    line-height: 90px;
}
section.contact{
    background-color: #131313;
    padding: 60px 0px 40px;
    text-align: right;
    font-family: 'El Messiri', sans-serif;
}
section.contact .contact-us .title h4{
    font-size: 178px;
    line-height: 50px;
    color: #758594;
}
section.contact .contact-us form .form-group{
    margin-bottom: 6px;
}
section.contact .contact-us form .form-group input, 
section.contact .contact-us form .form-group textarea{
    border-radius: 3px;
    border: 0;
    background-color: #242424;
    font-size: 18px;
    line-height: 35px;
    color: #aeadad;
}
section.contact .contact-us form button{
    font-size: 18px;
    background-color: #7233a2;
    color: #ffffff;
    border: 0px;
    padding: 7px 24px;
    border-radius: 3px;
}
section.contact .contact-us form .form-group .error {
    color: red; 
}
section.contact .other-products .title h4{
    font-size: 18px;
    line-height: 50px;
    color: #758594;
}
section.contact .other-products .media .media-body h5{
    font-size: 18px;
    margin-bottom: 15px;
    color: #aeadad;
}
section.contact .other-products .media .media-body p{
    font-size: 15px;
    line-height: 20px;
    color: #737373;
}
section.contact .other-products .media{
    margin-bottom: 25px;
}
section.contact .other-products .media img{
    margin-left: 20px;
}
footer{
    background-color: #1d1d1d;
    line-height: 80px;
    font-family: 'El Messiri', sans-serif;
}
footer .social ul li a{
    width: 40px;
    height: 37px;
    line-height: 40px;
    border-radius: 50%;
    background-color: #718292;
    color: #1d1d1d;
    text-align: center;
    display: block;
}
footer .social ul{
    padding: 0px;
    margin: 0px;
}
footer .social ul li{
    margin-left: 10px;
    margin-right: 0px !important;
}
footer .social ul li a:hover{
    background-color: #bd081c;
}
footer .copyright p{
    font-size: 15px;
    color: #919191;
    text-align: left;
}
@media(max-width: 900px){
    header{
        overflow-x: hidden;
    }
    .product-img img:first-of-type{
        width: 120%;
    }
    .buttons{
        margin-bottom: 50px;
    }
    section.features .feature .media img{
        margin: 0px 20px;
    }
}
@media (max-width: 360px) {
    .media {
      /* حتى تظهر الصورة  مع الكتابة في نفس الصف الرأسي*/
        flex-direction: column;
    }
    
    section.features .feature .media img {
      
      margin: auto;
    }
    
    section.features .feature .media .media-body {
      margin-bottom: 50px;
      margin-top: 50px;
    }
    section.contact .other-products .media img{
        display: block;
        margin-bottom: 20px;
    }
    section.contact .other-products .title h4{
        text-align: center;
        line-height: 50px;
    }
    section.contact .contact-us form{
        margin-left: 15px;
        text-align: center;
    }
    section.contact .contact-us form .form-group input, section.contact .contact-us form .form-group textarea{
        text-align: center;
    }
}
@media (max-width: 1400px){
    .product-img img:first-of-type{
        width: 90%;
        height: 70%;
    }
}